.contacts-form__input--order {
  display: none;
}

.contacts {
  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__top {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 38px;
    border-top: 1px solid var(--light-middle-gray);
    border-bottom: 1px solid var(--light-middle-gray);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__street {
    width: calc(224 / 1600 * 100%);
    margin-right: 80px;
    white-space: nowrap;
  }

  &__street-number {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark);
  }

  &__street-home {
    font-size: 16px;
    line-height: 32px;
    color: var(-dark);
    text-wrap: nowrap;
  }

  &-descr {
    white-space: nowrap;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: var(--dark);
  }

  &__message {
    width: calc(275 / 1600 * 100%);
  }

  &__networks {
    margin-top: 6px;
    width: 105px;
  }

  &__network:not(:last-child) {
    margin-right: 20px;
  }

  &__wats svg:hover path {
    fill: rgba(48, 191, 57, 0.5);
    transition: var(--short);
  }

  &__wats svg:hover .white-text {
    transition: var(--short);
    fill: #fff;
  }

  &__telegram svg:hover path {
    fill: rgba(38, 165, 228, 0.5);
    transition: var(--short);
  }

  &__telegram svg:hover .white-text {
    transition: var(--short);
    fill: #fff;
  }

  &__map {
    width: 100%;
    min-height: 700px;
    background-color: var(--background-helper);
  }
}

.contacts-form {
  display: flex;
  align-items: center;
  margin-right: 80px;
  width: calc(909 / 1600 * 100%);

  &__input {
    max-width: 270px;
    border: none;
    background: transparent;
  }

  &__input--name,
  &__input--phone {
    border: 1px solid var(--dark);
    border-radius: 100px;
    padding: 9px 57px 9px 24px;
    font-size: 16px;
    line-height: 32px;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      background-color: var(--light-white-gray);
    }
  }

  &__input--name {
    margin-right: 17px;
  }

  &__input--phone {
    margin-right: 20px;
  }

  &__input--btn {
    max-width: 329px;
    border: 1px solid var(--violet-middle);
    color: var(--violet-middle);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.51px;
    border-radius: 100px;
    padding: 12.5px 32px;
    text-wrap: nowrap;

    &:hover {
      cursor: pointer;
    }

    &:active {
      color: #fff;
    }
  }
}

#validationForm {
  position: relative;
}

.error {
  position: absolute;
  font-size: 13px;
  color: red;
  top: -3px;
  right: 69%;
}

.contacts__map {
  position: relative;
  min-height: 700px;
  transition-property: width, height, padding;
  transition-duration: 100ms;
}

.contacts__map-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #0e294b;
}

.page-footer__text {
  text-align: center;
}

.contacts__top-mobile {
  display: none;
}

@media (max-width: 1564px) {
  .contacts {
    &__container {
      flex-direction: column;
      align-items: flex-start;
    }

    &__message {
      margin-top: 30px;
    }
  }
}

@media (max-width: 970px) {
  .contacts {
    &-form {
      flex-wrap: wrap;
      width: 100%;
      &__input {
        width: 50%;
        max-width: 323px;

        &--phone {
          margin-right: 0;
        }

        &--btn {
          margin-top: 12px;
        }
      }
    }
  }
}

@media (max-width: 765px) {
  .contacts {
    &-form {
      flex-direction: column;
      align-items: flex-start;
      &__input {
        width: 100%;
        max-width: inherit;

        &--name {
          margin-bottom: 20px;
        }
        &--btn {
          display: none;
        }
        &--order {
          display: block;
          max-width: 128px;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }
}
