.footer {
  min-height: 140px;
  background-color: var(--black);
  padding: 50px 0;
  &__logo img {
    width: 173px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 20px;
    }

    svg:hover path {
      fill: #fff;
      transition: var(--short);
    }

    svg:active path {
      fill: var(--violet-middle);
      transition: var(--short);
    }
  }
}

@media (max-width: 420px) {
  .footer {
    &__items {
      margin-bottom: 20px;
    }
    &__container {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }
}
