.header {
  color: var(--white);
  font-size: 18px;
  line-height: 1;

  &__top {
    position: relative;
    z-index: 1;
    padding: 30px 0;
    background-color: var(--black);
  }

  &__container,
  &__nav,
  &__menu {
    display: flex;
    align-items: center;
  }

  &__container {
    position: relative;
    justify-content: space-between;
  }

  &__burger {
    display: none;
  }

  &__logo {
    width: 173px;
  }

  &__nav {
    justify-content: space-between;
    width: calc(1250 / 1600 * 100%);
  }

  &__nav.is-opened {
    display: flex;
    animation-name: menu-open;
    animation-duration: var(--middle);
  }

  &__nav.is-closed {
    animation-name: menu-close;
    animation-duration: var(--middle);
  }

  &__menu {
    flex-wrap: wrap;
  }

  &__nav-item {
    margin-right: 63px;
  }

  &__nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  &__service-links {
    flex-shrink: 0;
    max-width: 220px;
  }

  &__account {
    flex-shrink: 0;
    font-size: 18px;
    line-height: 25px;
  }

  &__account-content {
    display: flex;
    align-items: baseline;
    overflow: hidden;
    transition: padding-left var(--short), margin-left var(--short);
  }

  &__account-arrow {
    position: relative;
    flex-shrink: 0;
    margin-right: 2px;
    transform: translateX(-4px);
  }

  &__account:hover &__account-content,
  &__account:active &__account-content {
    margin-left: -4px;
    padding-left: 4px;
  }

  // bottom-styles

  &__bottom {
    background-color: var(--transparent-dark-4);
  }

  &__bottom-menu {
    display: flex;
    flex-wrap: wrap;
    width: calc(1250 / 1600 * 100%);
  }

  &__bottom-item {
    margin-right: 100px;
    padding: 24px 0 26px 0;
    position: relative;
  }

  &__bottom-btn {
    text-align: left;
    color: inherit;
  }

  &__bottom-link-text {
    padding-right: 5px;
  }

  &__bottom-link-text::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: translate(4px, calc(-50% + 1px)) rotate(45deg);
    transition: transform var(--short);
  }

  &__bottom-btn.is-active &__bottom-link-text::after {
    transform: translate(4px, calc(-50% + 4px)) rotate(225deg);
  }

  &__search {
    position: absolute;
    padding-top: 1px;
    bottom: 0;
    right: var(--container-paddingSide);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--white);
    transform: translateY(calc(100% + 30px + 25px));
  }

  &__search-input,
  &__search-btn {
    color: inherit;
  }

  &__search-input {
    font-family: inherit;
    width: calc(218 / 251 * 100%);
    padding: 0;
    padding-right: 8px;
    border: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    transition: border-color var(--short);
  }

  &__search-input::placeholder {
    color: inherit;
  }

  &__search-input:hover {
    border-color: var(--violet-light);
  }

  &__search-input:focus {
    border-color: var(--violet-dark);
    outline: none;
  }

  &__search-input:focus::placeholder {
    opacity: 0;
  }

  &__search-btn {
    display: flex;
    margin-right: 9px;
  }

  &__search-btn::before {
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
  }

  &__search-close {
    position: relative;
  }

  &__search-close,
  &__search-btn--open {
    display: none;
  }

  &__search.is-opened {
    display: flex;
    animation-name: search-open;
    animation-duration: var(--short);
  }

  &__search.is-closed {
    animation-name: search-close;
    animation-duration: var(--short);
  }
}

.logo {
  flex-shrink: 0;

  &__image {
    display: block;
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .header {
    &__nav-item {
      margin-right: 45px;
    }

    &__bottom-item {
      margin-right: 55px;
    }
  }
}

@media (max-width: 1280px) {
  .header {
    &__burger {
      position: relative;
      z-index: 2;
      display: block;
    }
    &__logo {
      width: 188px;
    }
    &__bottom {
      display: none;
    }
    &__nav {
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 100vh;
      padding-top: 96px;
      padding-bottom: 47px;
      padding-left: var(--container-paddingSide);
      padding-right: var(--container-paddingSide);
      background-color: var(--transparent-dark-9);
    }
    &__menu {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      overflow-y: auto;
      flex-wrap: nowrap;
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 64px;
    }
    &__nav-item {
      margin-right: 0;
    }
    &__nav-link {
      font-size: 23px;
    }
    &__account {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 257px;
      border: 2px solid var(--violet-middle);
      border-radius: 100px;
      padding: 20px;
      transition: background-color var(--short), color var(--short);
    }
    &__account.link::before {
      display: none;
    }
    &__account:focus:not(:hover):not(:active) {
      background-color: var(--violet-middle);
    }
    &__search {
      display: none;
      bottom: 5px;
      width: 314px;
      flex-direction: row;
      transform: translateY(0);
    }

    &__search.is-opened {
      display: flex;
      animation-name: search-open;
      animation-duration: var(--short);
    }

    &__search.is-closed {
      animation-name: search-close;
      animation-duration: var(--short);
    }

    &__search-input,
    &__search-close {
      order: 1;
    }
    &__search-input {
      width: 218px;
      margin-right: 24px;
    }
    &__search-input::placeholder {
      opacity: 0;
    }
    &__search-btn {
      width: 29px;
      height: 29px;
      flex-shrink: 0;
      margin-right: 10px;
    }
    &__search-btn--open,
    &__search-close {
      display: block;
    }
    &__search-btn--open {
      margin-right: 0;
      transition: opacity var(--short);
    }
    &__search-close {
      width: 23px;
      height: 23px;
      margin-right: 7px;
    }
  }
}

@media (max-width: 970px) {
  .header {
    &__search {
      position: fixed;
      width: 100%;
      height: 100px;
      background-color: var(--black);
      top: 0;
      right: 0;
      z-index: 2;
      padding-left: var(--container-paddingSide);
      padding-right: var(--container-paddingSide);
    }
    &__search-input {
      width: auto;
      flex-grow: 1;
      padding-bottom: 6;
    }
    &__search-close {
      width: 27px;
      height: 27px;
      margin-right: 0;
    }
  }
}

@media (max-width: 610px) {
  .header {
    &__top {
      padding: 12px 0;
    }
    &__logo {
      width: 100px;
    }
    &__search {
      align-items: flex-end;
      justify-content: center;
      height: 75px;
      background-color: var(--transparent-dark-9);
      padding-left: 25px;
      padding-right: 15px;
      padding-bottom: 20px;
    }
    &__search-btn {
      width: 18px;
      height: 18px;
      margin-right: 0;
      top: -2px;
      right: 0px;
    }
    &__search-input {
      flex-grow: 0;
      width: calc(180 / 290 * 100%);
      margin-right: 0;
      padding-bottom: 0;
      font-size: 14px;
    }
    &h__search-close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 15px;
      height: 15px;
    }
    &__nav {
      padding-left: 15px;
    }
    &__account {
      font-size: 12px;
      line-height: 16px;
      padding: 10px;
      width: 115px;
    }
    &__account-arrow {
      width: 12px;
      height: 9px;
      transform: translateX(-3px);
    }
  }
}

@media (max-width: 420px) {
  .burger {
    width: 15px;
    height: 15px;
  }

  .header__nav-link {
    font-size: 14px;
  }

  .header__nav {
    padding-top: 41px;
  }

  .header__menu {
    line-height: 32px;
  }

  .header__account {
    position: absolute;
  }
}
