.events-slider {
  position: relative;

  &__pagination {
    display: none;
  }

  &__slider {
    overflow: hidden;
  }

  &__items li {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__slide-content {
    display: flex; // 1
    flex-direction: column; // 2
    align-items: flex-start; // 3
    flex-grow: 1; // 4
    min-height: 400px;
    padding: 13px 50px 50px;
    border: 1px solid var(--light-middle-gray);
    border-top: none;
    height: auto;
  }

  &__info {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--middle-gray);
  }

  &__info-text {
    display: block;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }

  &__link {
    margin-top: auto;
  }

  &__nav-btn {
    position: absolute;
    top: 50%;
    z-index: 12;
    transition: opacity var(--short);
  }

  &__nav-btn--prev {
    left: 0;
    transform: translate(-50%, -50%);
  }

  &__nav-btn--next {
    right: 0;
    transform: translate(50%, -50%);
  }

  &__nav-btn.nav-btn--disabled {
    opacity: 0;
  }
}

@media (max-width: 1280px) {
  .events-slider {
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-color: #666;
    --swiper-pagination-bullet-horizontal-gap: 8px;

    padding-bottom: 40px;

    &__nav-btn {
      display: none;
    }

    &__pagination {
      bottom: 0;
      display: block;
      height: auto;
      line-height: 1;
      // transform:  translateY(30px);
    }

    // &__slide-content {
    //   padding: 13px 33px 5px;
    // }

    &__info {
      margin-bottom: 3px;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
    }

    &__info-text {
      text-align: end;
    }
  }
}

@media (max-width: 970px) {
  .events-slider {
    &__slide-content {
      padding: 13px 33px 38px;
    }
  }
}

@media (max-width: 610px) {
  .events-slider {
    &__slide-content {
      padding: 18px 22px 84px;
    }

    &__info {
      margin-bottom: 9px;
    }
  }
}
