.projects-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__pagination {
    display: none;
  }

  &__slider {
    overflow: hidden;
    width: calc(1450 / 1650 * 100%);
  }

  &__wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 32px 60px;
    border: 1px solid var(--light-middle-gray);
    box-sizing: border-box;
    outline: none !important;
  }

  &__img {
    max-height: 100%;
    filter: grayscale(1);
    opacity: 0.4;
    transition-property: filter, opacity;
    transition-duration: var(--middle);
  }

  &__slide:hover &__img {
    filter: grayscale(0);
    opacity: 1;
  }

  &__slide:focus {
    border-color: var(--violet-middle);
  }

  &__slide:active {
    border-color: var(--violet-middle);
  }

  &__slide:active &__img {
    filter: grayscale(0);
    opacity: 1;
  }

  &__nav-btn {
    position: absolute;
    top: 47%;
    z-index: 12;
    left: 97%;
    transition: opacity var(--short);
  }

  &__nav-btn--prev {
    left: 1%;
    transform: translate(-50%, -50%);
  }

  &__nav-btn--next {
    right: 0;
    transform: translate(50%, -50%);
  }

  &__nav-btn.nav-btn--disabled {
    opacity: 0;
  }
}


@media (max-width: 1280px) {
  .projects-slider {
    &__slider {
      width: calc(818 / 924 * 100%);
    }  
    &__wrapper a {
      height: 128px;
      padding: 27px 50px;
    }
  }
}

@media (max-width: 970px) {
  .projects-slider {
    &__slider {
      width: calc(562 / 668 * 100%);
    }  
    &__wrapper a {
      height: 106px;
      padding: 17px 24px;
    }
  }
}

@media (max-width: 610px) {
.projects-slider {
  &__slider {
    width: calc(195 / 290 * 100%);
  }  
    &__wrapper a {
      height: 65px;
      padding: 14px 27px;
    }
  }
}